@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Quicksand:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(wallpaper.jpg);
    background-position: center;
    background-size: cover;


}
.login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}
.login-header {
    text-align: center;
    margin: 40px 0 40px 0;
}
.login-header header{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}
.login-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 25px;
    border-radius: 35px;
    border: none;
    box-shadow: 0px 5px 10px 10px rgba(91, 29, 236, 0.05);
    outline: none;
    transition: 0.3s;
}
::placeholder{
    font-weight: 500;
    color: #3a3838;
}
.input-field:focus{
    transform: scaleX(120%);
}
.forgot{
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}
section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
}
#check{
    margin-right: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: #4000ff;
}

section a{
    color: #fff;
}
.input-submit{
    position: relative;
}
.submit-btn{
    width: 100%;
    height: 60px;
    background: #5063f2;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-animation: translate(-50%, -50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.submit-btn:hover{
    background: #190ee3;
    transform: scale(1.05,1);

}
.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.sign-up-link a{
    color: #fff;
    font-weight: 600;
}

.sign-up-link p{
    color: #fff;
}