@import url('https://fonts.googleapis.com/css2?family=Carlito:wght@700&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;


}
.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    pointer-events: none;
}
.navbar a {

    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;

}
.navbar .btnLogin-popup{
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;


}
.navbar .btnLogin-popup::before {

content: '';
position: absolute;
left: 0;
bottom: -4px;
width: 100%;
height: 2px;
background: #fff;
opacity: .85;


}
.section {
    min-height: 100vh;
background: url('background.png') no-repeat;
background-size: cover;
background-position: center;

}
.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(15px);
    box-shadow: -1px 0 10px rgb(0, 0, 0,.2);
    border-left: 2px solid rgb(255, 255, 255,.1);
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    opacity: 0;
    pointer-events: none;



}
.wrapper.active-popup{
    opacity: 1;
    pointer-events: auto;
    
}
.icon-close{
    top: 0;
    right: 0;
    position: absolute;
    width: 45px;
    height: 45px;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;

}
.icon-close i{
    font-size: 32px;
    color: #333;


}
.wrapper .logreg-box{
    width: 100%;
    

}
.wrapper.active .form-box.login{
    display: none;
}
.wrapper .form-box.register{
    display: none;
}
.wrapper.active .form-box.register{
    display: block;
}

.logreg-box .logreg-title{
    text-align: center;
    margin-bottom: 40px;
    color: #fff;

}
.logreg-title h2{
    font-size: 32px;

}
.logreg-title p{
    font-size: 14px;
    font-weight: 500;

}
.logreg-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;

}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-right: 25px;



}
.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;




}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box .icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 19px;
    color: #fff;


}
.logreg-box .remember-forgot{
    font-size: 14.5px;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;

}
.remember-forgot a{
    color: #fff;
    text-decoration: none;

}
.remember-forgot a:hover{
    text-decoration: underline;

}
.logreg-box .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    color: #222;
    font-weight: 600;

}
.logreg-box .logreg-link{
    font-size: 14.5px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 15px;

}
.logreg-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}
.logreg-link p a:hover{
    text-decoration: underline;
    
}
.media-options{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.media-options a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgb(0, 0, 0,.2);
    border-radius: 40px;
    color: #fff;
    text-decoration: none;
    transition: .5s;


}
.media-options a:hover{
    background: rgb(255, 255, 255,.1);
}
.media-options a i {
    font-size: 22px;
    margin: 0 8px 1.5px 0;

}
.media-options a span{
    font-size: 16px;
    font-weight: 500;

}
