@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background: #000116;
}

header {
    z-index: 999;
    position: fixed;
    width: 100%;
}

header .nav-bar{
    position: relative;
    background: transparent;
    backdrop-filter: blur(2px);
    height: 6em;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    transition: 0.5s ease;
}

.home {
    position: relative;
    min-height: 100vh;
    background: url(wallpaper.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home:before{
    z-index: 888;
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    background: linear-gradient(transparent, #000116);
    bottom: 0;
    border: none;
    left: 0;

}

.home h1 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 6em;
    font-weight: 600;
}

.nav-bar .logo{
    color: #fff;
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation .nav-items a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;

}

.navigation .nav-items a i {
    display: none;
}

.navigation .nav-items a:not(:last-child) {
    margin-right: 50px;
}

section{
    position: relative;
    font-size: 1em;
    padding: 30px 150px;
    transition: 0.5s ease;
    transition-property: padding;
}

.content h1{
    color: #fff;
    font-size: 3.5em;
    font-weight: 600;
}

.content p{
    color: #fff;
    font-size: 1em;
    margin: 30px 0;
}

::-webkit-scrollbar{
    background: #fff;
    width: 11px;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb{
    background: #282f4e;
    width: 100%;
    border-radius: 2em;
}
::-webkit-scrollbar-thumb:hover{
    background: #1f2022;

}

.scroll-indicator-container{
    width: 100%;
    height: 5px;
}

.scroll-indicator-bar{
    background: #9f19ff;
    width: 0;
    height: 100%;
    box-shadow: 0 5px 25px #199fff,
                0 5px 50px #199fff;
                
}

.nav-close-btn,nav-menu-btn{
    display: none;
}





@media screen and (max-width: 1100px) {
    header .nav-bar{
        padding: 0 50px;
    }
    section{
        padding: 30px 50px;
        font-size: 0.9em;
    }
    
}

@media screen and (max-width: 850px) {
    header .nav-bar {
        padding: 0 20px;
    }

    section {
        padding: 30px 20px;
        font-size: 0.8em;
    }

    .nav-menu-btn{
        display: block;
        color: #fff;
        font-size: 1.5em;
        cursor: pointer;
    }
    .navigation{
        z-index: 99999;
        position: fixed;
        background: transparent;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;

    }

    .navigation.active{
        visibility: visible;
        opacity: 1;
    }

    .navigation .nav-items {
        position: relative;
        background: #fff;
        width: 400px;
        max-width: 400px;
        display: grid;
        place-content: center;
        margin: 20px;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.8) ;
        transform: translateY(-200px);
        transition: 0.3s ease;
    }

    .navigation.active .nav-items {
        transform: translateY(0);
    }

    .navigation .nav-items a{
        color: #222;
        font-size: 1em;
        margin: 15px 50px;


    }

    .navigation .nav-items a i{
        display: inline-block;
        font-size: 1.2em;
        margin-right: 5px;

    }
    .nav-close-btn{
        display: block;
        color: #222;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.3em;
        margin: 10px;
        cursor: pointer;
    }
}




